<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jkarsten.bakingapp.bakingapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".BakingApplication">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".foodlist.FoodListActivity"
            android:label="@string/title_activity_food_list"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recipedetail.RecipeDetailActivity"
            android:parentActivityName=".foodlist.FoodListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".foodlist.FoodListActivity"/>
        </activity>

        <activity android:name=".stepdetail.StepDetailActivity"
            android:parentActivityName=".recipedetail.RecipeDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".recipedetail.RecipeDetailActivity"/>
        </activity>

        <receiver android:name=".widget.BakingWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/baking_widget_provider_info" />
        </receiver>

        <service android:name=".widget.BakingWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
    </application>

</manifest>